## Project 2A

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

## Building Keras Model

In [10]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define the model itself
def regression_model():
    # build the model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compiling the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [13]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test

Let's call the function now to create our model.

In [15]:
# building the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [16]:
# fitting the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 780us/step - loss: 19160.7559
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 6213.7817
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1195.9194
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 434.7803
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 388.0077
Epoch 6/50
23/23 [==============================] - 0s 877us/step - loss: 368.3188
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 352.3903
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 337.9763
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 322.0691
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 308.5825
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 293.5175
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 279.6228
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 265.4106
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 250.7409
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 237.4657
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 225.4253
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 215.2324
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 205.6297
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 197.2844
Epoch 20/50
23/23 [==============================] - 0s 925us/step - loss: 189.5177
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 182.5497
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 176.3386
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 170.5038
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 165.2741
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 160.3405
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 155.8680
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 151.8064
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 148.0876
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 144.6216
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 141.3460
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 138.5134
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 135.7279
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 133.2054
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 130.6969
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 129.0503
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 127.4830
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 124.6378
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 123.2831
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 121.7791
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 120.0433
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 118.8269
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 117.1738
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 115.8115
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 115.4685
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 114.2033
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 112.8361
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 111.5899
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 111.7231
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 109.8462
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 110.6952

Next we need to evaluate the model on the test data.

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 604us/step - loss: 110.7865

110.78646087646484

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

110.78645664577 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Following is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 78.28822326660156
MSE 2: 91.6004409790039
MSE 3: 70.7397689819336
MSE 4: 76.0051040649414
MSE 5: 74.2294692993164
MSE 6: 75.60069274902344
MSE 7: 81.69247436523438
MSE 8: 68.05076599121094
MSE 9: 66.0910415649414
MSE 10: 64.66619873046875
MSE 11: 61.972599029541016
MSE 12: 55.888092041015625
MSE 13: 59.10890197753906
MSE 14: 65.09361267089844
MSE 15: 53.20749282836914
MSE 16: 49.67720413208008
MSE 17: 50.77871322631836
MSE 18: 50.330810546875
MSE 19: 46.949798583984375
MSE 20: 45.990745544433594
MSE 21: 45.114994049072266
MSE 22: 44.916358947753906
MSE 23: 42.16252517700195
MSE 24: 45.80143356323242
MSE 25: 49.88239669799805
MSE 26: 48.01340103149414
MSE 27: 47.38676834106445
MSE 28: 40.007293701171875
MSE 29: 52.457481384277344
MSE 30: 45.19420623779297
MSE 31: 53.21104431152344
MSE 32: 42.764652252197266
MSE 33: 43.91596984863281
MSE 34: 46.167518615722656
MSE 35: 47.10166549682617
MSE 36: 56.92512893676758
MSE 37: 47.015228271484375
MSE 38: 54.40150451660156
MSE 39: 43.9346923828125
MSE 40: 41.46628952026367
MSE 41: 48.1578369140625
MSE 42: 44.27711486816406
MSE 43: 46.53921890258789
MSE 44: 51.3309326171875
MSE 45: 54.761009216308594
MSE 46: 49.4669189453125
MSE 47: 47.16981887817383
MSE 48: 47.49833679199219
MSE 49: 46.507232666015625
MSE 50: 48.60704040527344


Following is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 54.16236298569125
Standard Deviation: 11.850214914415233